<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>dog.jpg</string>
		<key>title</key>
		<string>Dog</string>
	</dict>
	<dict>
		<key>image</key>
		<string>bird.jpeg</string>
		<key>title</key>
		<string>Bird</string>
	</dict>
	<dict>
		<key>image</key>
		<string>death.jpg</string>
		<key>title</key>
		<string>Death</string>
	</dict>
	<dict>
		<key>image</key>
		<string>duck.jpeg</string>
		<key>title</key>
		<string>Duck</string>
	</dict>
	<dict>
		<key>image</key>
		<string>girl.jpeg</string>
		<key>title</key>
		<string>Girl</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hart.jpeg</string>
		<key>title</key>
		<string>Hart</string>
	</dict>
	<dict>
		<key>image</key>
		<string>kids.jpeg</string>
		<key>title</key>
		<string>Kids</string>
	</dict>
	<dict>
		<key>image</key>
		<string>parrot.jpeg</string>
		<key>title</key>
		<string>Parrot</string>
	</dict>
	<dict>
		<key>image</key>
		<string>puppy.jpeg</string>
		<key>title</key>
		<string>puppy</string>
	</dict>
	<dict>
		<key>image</key>
		<string>squirrel.jpeg</string>
		<key>title</key>
		<string>Squirrel.jpeg</string>
	</dict>
	<dict>
		<key>image</key>
		<string>swan.jpeg</string>
		<key>title</key>
		<string>Swan</string>
	</dict>
</array>
</plist>
